body {
  margin: 0;
  font-family: "Arial", sans-serif;
  overflow: none;
}

.container {
  position: relative;
  max-height: 100vh;
  max-width: 100%;
  overflow: none;
}

.content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  overflow: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  max-width: 70%;
  height: 70%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: none;
}

/* Responsive media queries */
@media only screen and (max-width: 480px) {
  .search-container {
    max-width: 90%; /* Adjust max-width for smaller screens */
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .search-container {
    max-width: 95%; /* Adjust max-width for screens between 481px and 768px */
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .search-container {
    width: 90%;
  }
}
