/* FLIGHT LIST CSS */

.scrollContainer {
  color: white;
  max-height: 60vh;
  width: 100%;
  overflow-y: auto;
}

.flightOfferCard {
  margin-bottom: 20px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.flightOfferCard:hover {
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0px 0px 10px 0px #000000;
}

.clearButton {
  background-color: #d0342c;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  width: 20%;
  font-size: 20px;
}

.clearButton:hover {
  background-color: #d0342c; /* Change the color on hover if needed */
}

/* HOTEL LIST CSS */
