body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.container {
  position: relative;
  background-color: #102036;
  height: 100vh;
  width: 100%;
}

.travel-items {
  display: flex;
  justify-content: center;
  gap: 5%;
  height: 100vh;
  width: 100%;
}

.start-traveling,
.schedule-traveling,
.more-about-traveling {
  margin-top: 5%;
  height: 50vh;
  width: 20%;
  overflow: hidden;
  position: relative;
  border-radius: 3%;
}

.start-traveling button,
.schedule-traveling button,
.more-about-traveling button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.start-traveling img,
.schedule-traveling img,
.more-about-traveling img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start-traveling h1,
.schedule-traveling h1,
.more-about-traveling h1 {
  background-color: #102036;
  border-radius: 10px;
  position: absolute;
  color: white;
  font-size: 16px;
  margin: 0;
  text-align: center;
  width: fit-content;
  top: 10px;
  padding: 1%;
}

.start-traveling p,
.schedule-traveling p,
.more-about-traveling p {
  background-color: #102036;
  padding: 1%;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  color: white;
  font-size: 16px;
  margin: 0;
  text-align: center;
  width: fit-content;
  bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .travel-items {
    flex-direction: column; /* Adjusted for mobile */
    border: none;
  }

  .start-traveling,
  .schedule-traveling,
  .more-about-traveling {
    width: 100%; /* Adjusted width for mobile */
    height: auto; /* Adjusted height for mobile */
    margin-top: 3%;
  }

  .start-traveling h1,
  .start-traveling p,
  .schedule-traveling h1,
  .more-about-traveling h1 {
    font-size: 16px; /* Adjusted font size for mobile */
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .travel-items {
    flex-direction: column;
    border: none;
  }

  .start-traveling,
  .schedule-traveling,
  .more-about-traveling {
    width: 100%;
    height: auto;
    margin-top: 3%;
  }

  .start-traveling h1,
  .start-traveling p,
  .schedule-traveling h1,
  .schedule-traveling p,
  .more-about-traveling h1,
  .more-about-traveling p {
    font-size: 16px;
  }
}
